/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a3aab2; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* .App.resultImageContainer {
  height: 50px;
  width: 50px;
}
.App.result-image {
  max-width: 100px; /* Adjust this value as needed */
/* max-height: 150x; /* Adjust this value as needed */
/* width: auto;
  height: auto;
} */

.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
  background-color: #83878d; /* Blue header background */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1 {
  margin: 0;
}

#resultImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
/* Form styles */
form {
  margin-top: 20px;
}

/* Signup and Signin styles */
.auth-box {
  background-color: #f9f9f9; /* Light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: calc(
    100% - 22px
  ); /* Adjusted width to accommodate padding and border */
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: calc(
    100% - 22px
  ); /* Adjusted width to accommodate padding and border */
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333; /* Dark gray footer background */
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Loading spinner styles */
.loading-spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #333537;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a3aab2; /* Light gray background */
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header {
  background-color: #83878d; /* Blue header background */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1 {
  margin: 0;
}

/* Form styles */
form {
  margin-top: 20px;
}

input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
}

button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #333; /* Dark gray footer background */
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Loading spinner styles */
.loading-spinner {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #333537;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Result image styles */
#resultImage {
  /* max-width: 10px; /* Adjust this value as needed */
  /* max-height: 15px; /* Adjust this value as needed */
  width: 10rem;
  height: auto;
  display: block;
  margin: 20px auto;
}
